alias tmux='tmux -2'

alias jup='jupyter notebook --no-browser --ip="*"'

# alias wk22='ssh matteo@addfor-wk22'

# Shortcut for ls -lah
alias lah='ls -lah'

# Purge dangling docker images
alias docker_purge_dangling='docker rmi --force $(docker images -f "dangling=true" -q)'

# Add quick commands to turn powerlevel9k theme on/off
alias 9koff='prompt_powerlevel9k_teardown && antigen theme bureau'
alias 9kon='prompt_powerlevel9k_setup'

# Add aliases for quick activating/deactivating conda environments
alias .d='. deactivate'
alias .a='. activate'

# Add alias for vim
alias v='vim'
