alias tmux='tmux -2'

alias jup='jupyter notebook --no-browser --ip="*"'

# Purge dangling docker images
alias docker_purge_dangling='docker rmi --force $(docker images -f "dangling=true" -q)'

# Add quick commands to turn powerlevel9k theme on/off
alias 9koff='prompt_powerlevel9k_teardown && antigen theme bureau'
alias 9kon='prompt_powerlevel9k_setup'

# Add aliases for quick activating/deactivating conda environments
alias .d='. deactivate'
alias .a='. activate'

# Add alias for vim
alias v='vim'
alias vv='view'

# Snippet for smart choosing conda environment to activate
# .a $(conda env list | cut -f 1 -d ' ' | fzf)
[ -f ~/.aliases.local ] && source ~/.aliases.local
